<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alamofire.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-miDriver.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>PubNub.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24AB7EB049778ABB406EE116BDB0FBFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E5B78FD7E291A7E4B22D56789473A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69F3C24F43B43F66A385EF81F20ACB65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88E9EC28B8B46C3631E6B242B50F4442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
